* {
    font-family: "Open Sans", sans-serif;
    scroll-behavior: smooth;
}

a {
    color: #2678A0;
}

.btn-primary {
    color: #fff !important;
    background-color: #096593;
    border-color: #096593;
}

.btn-primary:hover {
    background-color: #055075;
    border-color: #055075;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:active {
    background-color: #055075;
    border-color: #055075;
}

.btn-primary:focus {
    box-shadow: 0 0 0 .2rem rgba(5,80,117,.5);
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):focus:active,
.btn-primary:focus:active {
    box-shadow: 0 0 0 .2rem rgba(5,80,117,.5);
    background-color: #044a6c;
    border-color: #044a6c;
}

body {
    background-image: url("../image/fond-principale-image.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.jumbotron {
    background-color: transparent;
    color: white;
    min-height: 70vh;
    text-align: center;
}

.principal-texte .container h1 {
    font-family: "sansationregular", serif;
}

@media screen and (min-width: 640px) {
    .principal-texte .container h1 {
        font-size: 6rem;
    }

    .principal-texte {
        margin-top: 20vh;
    }

    .principal-texte .container p.lead {
        margin-top: 8vh;
        margin-bottom: 8vh;
    }

    .principal-texte .container a.btn {
        font-size: 2em;
        font-family: "sansationregular", sans-serif;
        padding: 0.675rem 1.75rem;
        border-radius: 0.65rem;
    }

    .lead {
        font-size: 1.5rem;
        line-height: 2;
    }
}

@media screen and (max-width: 640px) {
    .jumbotron {
        text-align: center;
    }

    .principal-texte .container h1 {
        font-size: 10vw;
    }

    .principal-texte {
        margin-top: 5em;
    }

    .principal-texte .container p.lead {
        margin-top: 2em;
        margin-bottom: 2em;
    }

    .principal-texte .container a.btn {
        font-size: 1.3em;
    }
}

.section-texte {
    background-color: white;
    padding-top: 4rem;
    padding-bottom: 5rem;
}

.section-texte h1 {
    font-family: "sansationregular", serif;
    color: #096593;
    margin-bottom: 20px;
}

img.logo-technologie {
    height: 8.5rem;
    width: auto;
    background-color: white;
    border-radius: 1rem;
    padding: 1.5rem;
    margin-bottom: 2rem;
}

#carousel-avis {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
}

#carousel-avis,
#carousel-avis > .carousel-inner,
#carousel-avis > .carousel-inner > .carousel-item,
#carousel-avis > .carousel-inner > .carousel-item > div {
    min-height: 25rem;
}

#carousel-avis > .carousel-inner > .carousel-item p {
    font-size: 1.4rem;
    font-family: 'Open Sans Light', sans-serif !important;
    font-weight: 300;
    color: #c5c5c5;
    line-height: 1.7;
}

#carousel-avis > .carousel-inner > .carousel-item:nth-child(even) {
    /*background-color: #096593;*/
}

.card {
    margin-top: 14.5rem;
    padding-top: 12.5rem;
    border-radius: 0;
}

.card-text {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
}

.zoom-img-top {
    overflow: hidden;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.card-img-top {
    transition: transform .5s ease;
    width: auto;
    max-height: 25rem;
    border-radius: 100%;
    position: absolute;
    top: -12.5rem;
    background-color: white;
    border: 1px solid rgba(0,0,0,.125);
}

.card-img-top:hover {
    transform: scale(1.1);
}

.card-title {
    font-family: "sansationregular", serif;
    color: #096593;
}

.card-text > ul {
    list-style: square outside;
}

.derniere-section {
    padding-bottom: 5em;
}

#bottomNavbar > div {
    width: 100%;
}

#bottomNavbar .navbar-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
@media (min-width: 768px) {
    #bottomNavbar .navbar-nav {
        float: none;
    }
}

#bottomNavbar .nav-item {
    margin-right: 20px;
    margin-left: 20px;
}
